body, html, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

#logo {
    font-weight: 500;
    font-size: 20px;
}

#add-course:hover{
    cursor:hand;
    font-weight: 600;
    font-size: 16px;
}