<!-- Add a modal container to the HTML body -->
<div id="add-course-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-border-rounded">
        <h4 class="uk-modal-title uk-text-bold" style="font-size: 24px;">Add Assignment</h4>
        <form class="uk-form" action="/api/students/assignments" method="post" enctype="multipart/form-data">


            <select id="course-id" name="course" class="uk-select uk-width-1-1 uk-background-muted uk-border-rounded">
                <!-- options will be populated dynamically -->
            </select>

            <select id="teacher-id" name="teacher"
                class="uk-select uk-margin-top uk-width-1-1 uk-background-muted uk-border-rounded">
                <!-- options will be populated dynamically -->
            </select>

            <input type="text" placeholder="Name" name="name" id="name"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded">
            <input type="text" placeholder="Description" name="description" id="description"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded">
            <input id="datepicker" name="due_date"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded" type="text"
                placeholder="Due Date">

            <input type="file" name="file" id="file"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded"
                style="display: none;">
            <label for="file"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-text-muted uk-border-rounded"
                style="cursor: hand;" id="file-label">Browse Assignment ...</label>
            <div id="chosen-file" class="uk-text-small uk-margin-top"></div>

            <div style="margin-bottom: 20px;"></div>
            <button class="uk-button uk-width-1-1 uk-border-rounded" id="add-course-btn" type="submit"
                style="text-transform: capitalize;background-color: hsl(240 5.9% 10%);color:#eee;font-size:16px;">Send</button>
        </form>
    </div>
</div>

<script>
    /*teacher to post course using title only*/


    flatpickr("#datepicker", {
        dateFormat: "d/m/Y"
    });

    const fileInput = document.getElementById('file');
    const fileLabel = document.getElementById('file-label');
    const chosenFileDiv = document.getElementById('chosen-file');
    const name = Cookies.get("name");
    const surname = Cookies.get("surname");
    const fullName = name + ' ' + surname;
    const user_id = Cookies.get("userId_");

    let globalTeacherId;
    let globalCourseId;

    fetch('/api/courses')
        .then(response => response.json())
        .then(data => {
            const teacherIds = data.filter(teacher => teacher.teacher_name === fullName).map(teacher => teacher.id);
            globalTeacherId = user_id; // Assign user_id to globalTeacherId
            globalCourseId = teacherIds[0];

            // Update the select elements with the global IDs
            const courseIdSelect = document.getElementById('course-id');
            const teacherIdSelect = document.getElementById('teacher-id');

            // Create options for the select elements
            const courseIdOption = document.createElement('option');
            courseIdOption.value = globalCourseId;
            courseIdOption.text = globalCourseId;
            courseIdSelect.appendChild(courseIdOption);

            const teacherIdOption = document.createElement('option');
            teacherIdOption.value = globalTeacherId;
            teacherIdOption.text = globalTeacherId;
            teacherIdSelect.appendChild(teacherIdOption);
        })
        .catch(error => console.error('Error:', error));

    fileInput.addEventListener('change', () => {
        const chosenFile = fileInput.files[0].name;
        chosenFileDiv.textContent = chosenFile;
    });

    const addCourseModal = document.getElementById('add-course-modal');
    const courseSelect = document.getElementById('course-select');

    function showAddCourseModal() {
        UIkit.modal(addCourseModal).show();
    }

</script>