<!-- Add a modal container to the HTML body -->
<div id="add-course-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-border-rounded">
        <h4 class="uk-modal-title uk-text-bold" style="font-size: 24px;">Add Assignment</h4>
        <form class="uk-form">
            <input type="text" placeholder="Name" name="name" id="name"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded">
            <input type="text" placeholder="Description" name="description" id="description"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded">
            <input id="datepicker" name="datepicker"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded" type="text"
                placeholder="Due Date">

            <input type="file" name="file" id="file"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded"
                style="display: none;">
            <label for="file"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-text-muted uk-border-rounded"
                style="cursor: hand;" id="file-label">Browse Assignment ...</label>
            <div id="chosen-file" class="uk-text-small uk-margin-top"></div>

            <div style="margin-bottom: 20px;"></div>
            <button class="uk-button uk-width-1-1 uk-border-rounded" id="add-course-btn"
                style="text-transform: capitalize;background-color: hsl(240 5.9% 10%);color:#eee;font-size:16px;"
                onclick="enrollCourse()">Send</button>
        </form>
    </div>
</div>

<script>

    flatpickr("#datepicker", {
        dateFormat: "d/m/Y"
    });

    const fileInput = document.getElementById('file');
    const fileLabel = document.getElementById('file-label');
    const chosenFileDiv = document.getElementById('chosen-file');

    fileInput.addEventListener('change', () => {
        const chosenFile = fileInput.files[0].name;
        chosenFileDiv.textContent = chosenFile;
    });

    const addCourseModal = document.getElementById('add-course-modal');
    const courseSelect = document.getElementById('course-select');

    function showAddCourseModal() {
        UIkit.modal(addCourseModal).show();
    }

    function enrollCourse() {
        const selectedCourse = courseSelect.value;

        fetch('/api/students/enroll', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ course_id: selectedCourse, student_id: studentId })
        })
            .then(response => response.json())
            .then(data => {
                console.log(`Course added successfully!`);
            })
            .catch(error => console.error('Error adding course:', error));

        UIkit.modal(addCourseModal).hide();
    }

    fetch('/api/courses')
        .then(response => response.json())
        .then(data => {
            const courseSelect = document.getElementById('course-select');
            const courseOptions = data.map(course => {
                return `<option value="${course.id}">${course.title}</option>`;
            });
            courseSelect.innerHTML = courseOptions.join('');
        })
        .catch(error => console.error('Error fetching courses:', error));
</script>