<!-- Add a modal container to the HTML body -->
<div id="add-course-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-border-rounded">
        <h4 class="uk-modal-title uk-text-bold" style="font-size: 24px;">Add Assignment</h4>
        <form class="uk-form" action="/api/students/assignments" method="post" enctype="multipart/form-data">
            
            
            <select id="course-select" name="course" class="uk-select uk-width-1-1 uk-background-muted uk-border-rounded">
                <!-- options will be populated dynamically -->
            </select>
            
            <select id="teacher-select" name="teacher" class="uk-select uk-margin-top uk-width-1-1 uk-background-muted uk-border-rounded">
                <!-- options will be populated dynamically -->
            </select>
            
            <input type="text" placeholder="Name" name="name" id="name"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded">
            <input type="text" placeholder="Description" name="description" id="description"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded">
            <input id="datepicker" name="due_date"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded" type="text"
                placeholder="Due Date">

            <input type="file" name="file" id="file"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded"
                style="display: none;">
            <label for="file"
                class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-text-muted uk-border-rounded"
                style="cursor: hand;" id="file-label">Browse Assignment ...</label>
            <div id="chosen-file" class="uk-text-small uk-margin-top"></div>

            <div style="margin-bottom: 20px;"></div>
            <button class="uk-button uk-width-1-1 uk-border-rounded" id="add-course-btn" type="submit"
                style="text-transform: capitalize;background-color: hsl(240 5.9% 10%);color:#eee;font-size:16px;">Send</button>
        </form>
    </div>
</div>

<script>

    flatpickr("#datepicker", {
        dateFormat: "d/m/Y"
    });

    const fileInput = document.getElementById('file');
    const fileLabel = document.getElementById('file-label');
    const chosenFileDiv = document.getElementById('chosen-file');

    fileInput.addEventListener('change', () => {
        const chosenFile = fileInput.files[0].name;
        chosenFileDiv.textContent = chosenFile;
    });

    const addCourseModal = document.getElementById('add-course-modal');
    const courseSelect = document.getElementById('course-select');

    function showAddCourseModal() {
        UIkit.modal(addCourseModal).show();
    }

</script>