{% include 'imports.html' %}


<script>
    function isLoggedIn() {
        return Cookies.get('token') !== undefined
    };

    const urlParams = new URLSearchParams(window.location.search);
    const nocache = urlParams.get('nocache');

    if (window.location.pathname.startsWith('/dashboard/')) {
        if (!isLoggedIn()) {
            window.location.href = '/';
        }
    }

    if (window.location.pathname === '/dashboard') {
        if (!isLoggedIn()) {
            window.location.href = '/'
        } else if (nocache) {
            Cookies.remove('token');
            window.localStorage.clear();
            window.sessionStorage.clear();
            window.location.href = '/'
        }
    }

    if (window.location.pathname === '/dashboard' && isLoggedIn() && nocache) {
        Cookies.remove('token');
        window.localStorage.clear();
        window.sessionStorage.clear();
        window.location.href = '/'
    }

    window.addEventListener('load', () => {
        if (window.location.pathname === '/dashboard' && !isLoggedIn()) {
            window.location.href = '/'
        } else if (nocache) {
            Cookies.remove('token');
            window.localStorage.clear();
            window.sessionStorage.clear();
            window.location.href = '/'
        }
    });

    window.addEventListener('popstate', (event) => {
        if (window.location.pathname === '/dashboard') {
            event.preventDefault();
            window.location.href = '/';
        }
    });
</script>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    .dashboard-container {
        display: flex;
        height: 100vh;
    }

    .sidebar {
        width: 20%;
        background-color: rgb(255, 255, 255);
        padding: 20px 0;
        border-right: 1px solid #ddd;
    }

    .sidebar ul {
        padding: 0;
        list-style: none;
    }

    .sidebar li {
        padding: 15px 20px;
        color: rgb(0, 0, 0);
        font-weight: 400;
    }

    .sidebar li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: 400;
    }

    .content {
        width: 80%;
        padding: 20px;
    }

    .content-heading {
        font-size: 24px;
        font-weight: bold;
    }

    .content-subheading {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: calc(33.33% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
        box-sizing: border-box;
    }

    .sidebar {
        position: relative;
        /* add this */
    }

    .logout {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
        text-align: center;
    }
</style>

<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <ul>
                <li>
                    <h1 id="logo"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                            <path
                                d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z" />
                            <path
                                d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z" />
                        </svg>&nbsp;Carlano</h1>
                    <h1 id="add-course" onclick="showAddCourseModal()"><span uk-icon="icon: plus-circle"></span>Enroll
                    </h1>
                    {% include 'modal.html' %}

                </li>
                <!---course-links-->
            </ul>
            <div class="logout">
                <a onclick="logout()" style="color: #000;">
                    <span uk-icon="icon: sign-out"></span> Log out of your account
                </a>
            </div>
        </div>
        <div class="content">
            <h1 class="content-heading">Dashboard</h1>
            <h2 class="content-subheading" id="user-email"></h2>
            <div class="card-container">
                <!----courses---->
            </div>
        </div>
    </div>
    <div id="submissions-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-border-rounded">
            <h4 class="uk-modal-title uk-text-bold" style="font-size: 24px;">Add Assignment</h4>
            <form class="uk-form" action="/api/submit_assignment" method="post" enctype="multipart/form-data">


                <select id="course-id" name="course-id"
                    class="uk-select uk-width-1-1 uk-background-muted uk-border-rounded">
                    <!-- options will be populated dynamically -->
                </select>

                <select id="student-id" name="student-id"
                    class="uk-select uk-margin-top uk-width-1-1 uk-background-muted uk-border-rounded">
                    <!-- options will be populated dynamically -->
                </select>

                <select id="assignment-id" name="assignment-id"
                    class="uk-margin-top uk-select uk-width-1-1 uk-background-muted uk-border-rounded">
                    <!-- options will be populated dynamically -->
                </select>

                <input type="text" placeholder="Assignment Text" name="ass-text" id="ass-text"
                    class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded">

                <input type="file" name="file" id="file"
                    class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded"
                    style="display: none;">
                <label for="file"
                    class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-text-muted uk-border-rounded"
                    style="cursor: hand;" id="file-label">Browse Assignment ...</label>
                <div id="chosen-file" class="uk-text-small uk-margin-top"></div>

                <div style="margin-bottom: 20px;"></div>
                <button class="uk-button uk-width-1-1 uk-border-rounded" id="submissions-btn" type="submit"
                    style="text-transform: capitalize;background-color: hsl(240 5.9% 10%);color:#eee;font-size:16px;">Send</button>
            </form>
        </div>
    </div>


</body>

<script>
    const studentId = Cookies.get('userId');
    fetch(`/api/students/${studentId}/courses`)
        .then(response => response.json())
        .then(data => {
            const sidebarList = document.querySelector('.sidebar ul');
            data.courses.forEach(course => {
                const listItemHTML = `
                    <li><a href="/dashboard/${course.id}">${course.title}</a></li>
                `;
                sidebarList.innerHTML += listItemHTML;
            });
        })
        .catch(error => console.error('Error fetching courses:', error));


    fetch('/api/assignments')
        .then(response => response.json())
        .then(data => {
            const courseId = window.location.pathname.split('/').pop();
            const assignments = [].concat(...data).filter(assignment => assignment.course_id === courseId);
            const cardContainer = document.querySelector('.card-container');
            assignments.forEach(assignment => {
                const cardHTML = `
        <div class="card uk-background-muted uk-border-rounded">
          <h3>${assignment.name}</h3>
          <p id="description" class="uk-text-small">${assignment.description}</p>
          <p class="uk-text-small">Due Date: ${assignment.due_date}</p>
          <a href="${assignment.assignment_file}" class="uk-text-small">Assignment File</a>
          <p onclick="showSubmissions()" class="submit-button" style="font-weight:600;font-size:12px;cursor:hand;">Submit</p>
        </div>
      `;
                const cardElement = document.createElement('div');
                cardElement.innerHTML = cardHTML;
                cardContainer.appendChild(cardElement.firstElementChild); // Append the card element, not the wrapper
                const descriptionElement = document.querySelector('#description');
                const assignmentDescription = descriptionElement.textContent.trim();

                const matchedAssignment = assignments.find(assignment => assignment.description === assignmentDescription);

                if (matchedAssignment) {
                    Cookies.set('assignment_id', matchedAssignment.id, { expires: 1 });

                    assignment_id = Cookies.get("assignment_id");

                } else {
                    console.log('No matching assignment found.');
                }

                const course_idf = window.location.pathname.split('/').pop();
                const fileInput = document.getElementById('file');
                const fileLabel = document.getElementById('file-label');
                const chosenFileDiv = document.getElementById('chosen-file');
                const name = Cookies.get("name");
                const surname = Cookies.get("surname");
                const fullName = name + ' ' + surname;
                const student_id = Cookies.get("userId_");

                const courseIdSelect = document.getElementById('course-id');
                const courseIdOption = document.createElement('option');
                courseIdOption.value = course_idf;
                courseIdOption.text = course_idf;
                courseIdSelect.appendChild(courseIdOption);

                const studentIdSelect = document.getElementById('student-id');
                const studentIdOption = document.createElement('option');
                studentIdOption.value = studentId;
                studentIdOption.text = studentId;
                studentIdSelect.appendChild(studentIdOption);

                const assIdSelect = document.getElementById('assignment-id');
                const assIdOption = document.createElement('option');
                assIdOption.value = assignment_id;
                assIdOption.text = assignment_id;
                assIdSelect.appendChild(assIdOption);

                fileInput.addEventListener('change', () => {
                    const chosenFile = fileInput.files[0].name;
                    chosenFileDiv.textContent = chosenFile;
                });

            });
        })
        .catch(error => console.error('Error fetching assignments:', error));





    function showSubmissions() {
        const addCourseModal_ = document.getElementById('submissions-modal');

        UIkit.modal(addCourseModal_).show();
    }
</script>


<script>
    function logout() {
        Cookies.remove('token');
        Cookies.remove('email');
        Cookies.remove('userId');

        localStorage.clear();

        sessionStorage.clear();

        history.pushState(null, null, null);
        window.addEventListener('popstate', function (event) {
            history.pushState(null, null, null);
        });
        window.location.href = '/';
    }
</script>