{% include 'imports.html' %}


<script>
    function isLoggedIn() {
        return Cookies.get('token_') !== undefined
    };

    const urlParams = new URLSearchParams(window.location.search);
    const nocache = urlParams.get('nocache');

    if (window.location.pathname === '/teacher/dashboard') {
        if (!isLoggedIn()) {
            window.location.href = '/'
        } else if (nocache) {
            Cookies.remove('token_');
            window.localStorage.clear();
            window.sessionStorage.clear();
            window.location.href = '/'
        }
    }

    if (window.location.pathname === '/teacher/dashboard' && isLoggedIn() && nocache) {
        Cookies.remove('token_');
        window.localStorage.clear();
        window.sessionStorage.clear();
        window.location.href = '/'
    }

    window.addEventListener('load', () => {
        if (window.location.pathname === '/teacher/dashboard' && !isLoggedIn()) {
            window.location.href = '/'
        } else if (nocache) {
            Cookies.remove('token_');
            window.localStorage.clear();
            window.sessionStorage.clear();
            window.location.href = '/'
        }
    });

    window.addEventListener('popstate', (event) => {
        if (window.location.pathname === '/teacher/dashboard') {
            event.preventDefault();
            window.location.href = '/';
        }
    });
</script>


<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>

<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <ul>
                <li>
                    <h1 id="logo"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                            <path
                                d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z" />
                            <path
                                d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z" />
                        </svg>&nbsp;Carlano</h1>
                    <h1 id="add-course" onclick="showAddCourse()"><span uk-icon="icon: plus-circle"></span>Add
                        Course</h1>
                    {% include 'modal3.html' %}
                    <h1 id="add-course" onclick="showAddCourseModal()"><span uk-icon="icon: plus-circle"></span>Add
                        Assignment</h1>
                    {% include 'modal2.html' %}
                </li>
                <!---course-links-->
            </ul>
            <div class="logout">
                <a onclick="logout()" style="color: #000;">
                    <span uk-icon="icon: sign-out"></span> Log out of your account
                </a>
            </div>
        </div>
        <div class="content">
            <h1 class="content-heading">Dashboard</h1>
            <h2 class="content-subheading" id="user-email"></h2>
            <div class="card-container">
                <!----courses---->
            </div>
        </div>
    </div>
    <!-- Add a modal container to the HTML body -->
    <div id="mark-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-border-rounded">
            <h4 class="uk-modal-title uk-text-bold" style="font-size: 24px;">Mark Assignment</h4>
            <form class="uk-form" id="send-mark">

                <input type="text" placeholder="Mark" name="mark" id="mark"
                    class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded">
                <input type="text" placeholder="Feedback" name="feedback" id="feedback"
                    class="uk-input uk-width-1-1 uk-margin-top uk-background-muted uk-border-rounded">
                <!--is_marked = true-->

                <div style="margin-bottom: 20px;"></div>
                <button class="uk-button uk-width-1-1 uk-border-rounded" id="mark-btn" type="submit"
                    style="text-transform: capitalize;background-color: hsl(240 5.9% 10%);color:#eee;font-size:16px;">Submit
                    mark</button>
            </form>
        </div>
    </div>
</body>

<script>
    const userEmailElement = document.getElementById('user-email');
    const email = Cookies.get('email_');
    userEmailElement.textContent = `Welcome, ${email}!`;
    const studentId = Cookies.get("userId_");
    const name_ = Cookies.get("name");
    const surname_ = Cookies.get("surname");
    const fullName_ = name_ + ' ' + surname_;


    let courseId;
    fetch(`/api/teachers/${studentId}/courses`)
        .then(response => response.json())
        .then(data => {
            courseId = data.courses[0].id;
            // Fetch submissions for this course
            fetch(`/api/submissions/${courseId}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    const cardContainer = document.querySelector('.card-container');
                    data.forEach(submission => {
                        const cardHTML = `
                <div class="card uk-background-muted uk-border-rounded">
                  <h3>${submission.student_name}</h3>
                  <p class="uk-text-small">Submitted at: ${submission.submission_date_str}</p>
                  <p class="uk-text-small">${submission.assignment_text}</p>
                  <p id="my-id" style="display:none;" class="uk-text-small">${submission.id}</p>
                  <a href="${submission.submission_file}" class="uk-text-small">Assignment file</a>
                  <p class="uk-text-small uk-text-bold" style="font-weight:600;font-size:12px;cursor:hand;" onclick="showMarkModal('${submission.id}')">Mark</p>
                </div>
              `;
                        const cardElement = document.createElement('div');
                        cardElement.innerHTML = cardHTML;
                        cardContainer.appendChild(cardElement.firstElementChild); // Append the card element, not the wrapper
                    });
                })
                .catch(error => console.error('Error fetching submissions:', error));
        })
        .catch(error => console.error('Error fetching course:', error));
</script>

<script>

    const markModal = document.getElementById('mark-modal');

    function showMarkModal(submissionId) {
        UIkit.modal(markModal).show();
        markForm.submissionId = submissionId;
    }

    const markForm = document.getElementById('send-mark');

    markForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const markInput = document.getElementById('mark');
        const feedbackInput = document.getElementById('feedback');
        const submissionId = markForm.submissionId;
        const markData = {
            teacher_id: studentId,
            submission_id: submissionId,
            feedback: feedbackInput.value,
            mark: Number(markInput.value)
        };

        console.log('JSON Payload:', markData);

        axios.post('/api/marks', markData)
            .then(response => {
                UIkit.modal(markModal).hide();
            })
            .catch(error => console.error('Error submitting mark:', error));
    });

</script>

<script>
    function logout() {
        Cookies.remove('token_');
        Cookies.remove('email_');
        Cookies.remove('userId_');

        localStorage.clear();

        sessionStorage.clear();

        history.pushState(null, null, null);
        window.addEventListener('popstate', function (event) {
            history.pushState(null, null, null);
        });
        window.location.href = '/';
    }
</script>