{% include 'imports.html' %}


<form class="uk-flex uk-flex-center uk-margin-large-top uk-border-rounded" id="loginForm">
    <div class="uk-width-1-2@m uk-width-1-3@l uk-width-1-4@xl uk-width-1-5@xxl uk-text-center uk-padding uk-border-rounded"
        style="border: 1px solid #eee;">
        <h1 id="logo"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                <path
                    d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z" />
                <path
                    d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z" />
            </svg>&nbsp;Carlano</h1>
        <h2 class="uk-margin-top" style="font-size: 17px;font-weight: 500;">Reset Password</h2>
        <h3 class="uk-margin-top" style="font-size: 14px;">Enter email below and we will send password reset link</h3>

        <div class="uk-margin-top">
            <div class="uk-inline uk-flex uk-flex-center">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input uk-border-rounded uk-width-1-1 uk-background-muted" name="email" id="email"
                    type="email" placeholder="Email">
            </div>
        </div>
        <button class="uk-button uk-width-1-1 uk-margin-top uk-border-rounded"
            style="background-color: hsl(240 5.9% 10%);color:#eee;text-transform: capitalize;">
            Send Link
        </button>

    </div>
</form>

<script>
    const emailInput = document.getElementById('email');
    const button = document.querySelector('button');
    button.addEventListener('click', () => {
        const email = emailInput.value.trim();

        axios.post('/api/forgot_password', { email })
            .then(response => {
                console.log(response);
            })
            .catch(error => {
                console.error(error);
            });
    });
</script>